footer {
    width: 100%;
}
footer {
    background-color: #000;
}
footer a {
    font: 0.9375rem 'Muli', sans-serif;
    font-weight: $light;
    color: $text-inverse;
    line-height: 1.875rem;
    color: #fff;
}
footer p {
    @include footer_title();
    margin-bottom: 0.625rem;
}
footer > * {
    color: #fff;
}
footer .bottom-section__links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.875rem 0;
}
footer .bottom-section__links a {
    font: 0.75rem 'Muli', sans-serif;
    font-weight: $light;
    line-height: 1.5rem;
    padding: 0 2.125rem;
    position: relative;
}
footer .bottom-section__links a:not(:last-child):after {
    content: "";
    height: 100%;
    width: 0.0625rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(222, 56, 49, 0.29);
}
@media only screen and (max-width: 37.5rem) {
    footer .bottom-section__links a:not(:last-child):after {
        display: none;
    }
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__links a {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 0.875rem 0 0;
        margin-right: 0.875rem;
        text-align: center;
    }
    footer .bottom-section__links a:last-child {
        margin-right: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 37.5rem) {
    footer .bottom-section__links a {
        padding: 0;
        margin-right: 0;
        margin-bottom: 0.3125rem;
        display: inline-block;
        text-align: center;
    }
}
@media only screen and (max-width: 414px) {
    footer .bottom-section__links a {
        text-align: left;
    }
}
@media only screen and (max-width: 37.5rem) {
    footer .bottom-section__links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
footer .bottom-section__logos {
    padding: 1.8125rem 0 2.1875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .bottom-section__logos .logos {
    padding-top: 2.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos .logos {
        padding-top: 1.25rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
}
footer .bottom-section__logos .logos div {
    color: #000;
}
footer .bottom-section__logos .logos .logo {
    display: block;
}
footer .bottom-section__logos .logos .logo:not(:first-child) {
    padding-left: 4.3125rem;
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos .logos .logo:not(:first-child) {
        padding-left: 0;
    }
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos .logos .logo {
        margin: 0 1.875rem 0.9375rem;
        width: 6.25rem;
        height: 6.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media only screen and (max-width: 37.5rem) {
    footer .bottom-section__logos .logos .logo {
        margin: 0 0.9375rem 0.9375rem;
    }
}
footer .bottom-section__logos .title h4 {
    font: 0.9375rem Muli-Regular, sans-serif;
    line-height: 1.25rem;
    color: #5e5e5e;
    text-transform: none;
    position: relative;
}
footer .bottom-section__logos .title h4 span {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0 1.875rem;
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos .title h4 span {
        padding: 0;
    }
}
footer .bottom-section__logos .title h4:after {
    content: "";
    position: absolute;
    background-color: rgba(222, 56, 49, 0.5);
    width: 100%;
    height: 0.0625rem;
    top: 0.625rem;
    left: 0;
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos .title h4:after {
        display: none;
    }
}
@media only screen and (max-width: 62rem) {
    footer .bottom-section__logos {
        padding: 1.8125rem 0 2.1875rem;
    }
}
footer .middle-section {
    padding: 1.875rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .middle-section a {
    display: block;
}
footer .middle-section a:after {
    content: "";
    width: 100%;
    height: 0.0625rem;
    background: #fff;
    position: absolute;
    bottom: 0.0625rem;
    left: 0;
    width: 0;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
}
.no-touch-device footer .middle-section a:hover:after {
    width: 100%;
}
footer .middle-section section {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
footer .middle-section section a,
footer .middle-section section p {
    color: #fff;
    text-align: center;
    position: relative;
}
@media only screen and (max-width: 414px) {
    footer .middle-section section a,
    footer .middle-section section p {
        text-align: left;
    }
}
footer .middle-section section:first-child {
    text-align: right;
}
@media only screen and (max-width: 414px) {
    footer .middle-section section:first-child {
        text-align: left;
    }
}
footer .middle-section section:last-child {
    text-align: left;
}
@media only screen and (max-width: 414px) {
    footer .middle-section section:last-child {
        text-align: left;
    }
}
@media only screen and (max-width: 62rem) {
    footer .middle-section section {
        text-align: left;
        padding: 0;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
    }
    footer .middle-section section:not(:last-of-type) {
        padding-bottom: 1.875rem;
    }
}
@media only screen and (max-width: 62rem) {
    footer .middle-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
footer .social-link:not(:last-child) {
    margin: 0 2.25rem 0 0;
}
@media only screen and (max-width: 62rem) {
    footer .social-link {
        display: block;
    }
    footer .social-link:not(:last-child) {
        margin: 0;
    }
}
footer .red-border {
    border-top: 0.0625rem solid rgba(222, 56, 49, 0.29);
    border-bottom: 0.0625rem solid rgba(222, 56, 49, 0.29);
}
footer .top-section {
    padding: 2.1875rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media only screen and (max-width: 62rem) {
    footer .top-section {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 2.1875rem 0;
    }
}