.full-width-banner {
    width: 100%;
    position: relative;
    
    @include tablet {
        min-height: 24rem;
    }

    .inner, .row {
        height: 100%;
        padding: $m 0 $s;
    }

    .content {
        color: $text-inverse;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        .title {
            margin-bottom: $s;
        }
        .text  {
            margin-bottom: $xm;
        }
    }

}

.video-banner {
    background-size: cover;
    background-position: 66% 60%;
    background-repeat: no-repeat;

    @include desktop {
        background-position: 40% 30%;
    }

    .row {
        flex-direction: column;
        
        @include desktop {
            flex-direction: row;
        }
    }

    .control {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 8rem;
        width: 8rem;
        opacity: .9;
        margin-left: -1rem;
        transition: opacity .25s ease-in, transform .25s ease-in;

        @include tablet {
            height: 9rem;
            width: 9rem;
        }

        @include desktop {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%);
            margin-top: -4rem;
            margin-left: 0;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(1.1);
            object-position: 60% 30%;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 1;
            
            @include desktop {
                transform: translate(-50%) scale(1.1);
            }
        }

        &:after {
            content: "Reproducir vídeo";
            @include button_text;
            text-align: center;
            width: 100%;
            white-space: nowrap;
            transform: translateY(-50%);
            color: $text-inverse;

            @include desktop {
                content: none
            }
        }
    }
}

#video-banner-01 {
    background-image: url(/images/provisional-video-cover-sat.jpg);

    .overlay {
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
        
        @include small {
            background: linear-gradient(90deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
        }
    }
}

#fw-banner-01 {
    background-image: url(/images/campus-visits-banner-bg.jpg);
    background-size: cover;
    background-position: 40% 30%;

    .overlay {
        background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
    }
}