// Button Primary
@mixin primary_btn() {
    background-color: $basic03;
    color: $text_inverse;
    border: none;
    display: inline-flex;
    align-items: center;
    height: $l;
    padding: $xm;
    border-radius: $m;
    text-decoration: none;
    @include button_text;
}

.btn-primary {
    @include primary_btn();
}

// Button Full-width
@mixin primary_fullwidth_btn() {
    @include primary_btn();
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary-fullwidth {
    @include primary_fullwidth_btn();
}


// Button with Icon
@mixin primary_icon_btn() {
    @include primary_btn();
    .icon{
        margin-right: $s;
    }
}

.btn-primary-icon {
    @include primary_icon_btn();
}

    // Example of use
    
    // <a href="#" class="btn-primary-icon hide-when-sticky js-modal">
    //     <img class="icon" src="./images/icons/icon-play.svg">
    //     Solicita información
    // </a>