.card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column; 
    background-color: $ui-bg_01;
    box-shadow: $shadow_02;
    
    @include desktop {
        margin-bottom: 0;
    }
    
    .text {
        margin-bottom: $s;
    }

    img {
        width: 100%;
        display: flex;
        min-height: 10rem;
    }

   .card-content {
        padding: $xm;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;

        .title {
            margin-bottom: $s;
        }

    }
        
    &.card-with-button {
        transition: transform ease-out .25s;

        &:hover{
            transform: translateY(-4px) scale(1.005);
            background-color: $ui-bg_03;
        }

        .card-content {
            padding: $xm;
            padding-bottom: $xs;
        }

        .button {
            padding: $s $xm;
            border-top: 1px solid $ui-line;

        }
    }
}

