.covid-measures-module {
    .inner {
        padding: $l 0;

        @include small {
            padding: $xl01 0;
        }
        @include tablet {
            padding: $xl02 0;
        }

        .header-item {
            margin-bottom: $l;

            @include tablet {
                margin-bottom: 0;
            }

            .title-row {
                display: flex;
                align-items: flex-start;
                margin-bottom: $s;

                .title {
                    max-width: 17rem;
                }
                img {
                    margin-right: $s;

                    @include tablet {
                        margin-right: $xm;
                    }
                }
            }

            p {
                width: 100%;

                @include desktop {
                    width: 85%;
                }
            }
        }

        .covid-measure-item {
            margin: 0 auto;
            margin-bottom: $m;
            text-align: center;

            @include small {
                margin-bottom: $l;
                
                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }

            @include desktop {
                margin-bottom: $xl02;
            }

           

            img {
                margin-bottom: $s;
                
                @include small {
                    margin-bottom: $xm;
                }
            }
            .title {
                margin-bottom: $xs;

                @include small {
                    margin-bottom: $s;
                }
            }
            .text{
                text-align: center;
                margin: 0 auto;
                width: 100%;

                @include small {
                    width: 85%;
                }
            }
        }
    }
}