.disclaimer-banner {
    > .inner {
        padding: $l 0;

        @include small {
            padding: $xl01 0;
        }
        @include tablet {
            padding: $xl02 0;
        }


        .row {
            justify-content: space-between;
            

            .col-left {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-bottom: $m;

                @include tablet {
                    margin-bottom: 0;
                }

                .large-text {
                    margin-bottom: $s;
                    width: 100%;
                    color: transparentize($color: $text-high-emphasis, $amount: 0.2);

                    @include small {
                        width: 90%;
                    }
                    @include desktop {
                        width: 80%;
                    }
                }
            }

            .col-right {
                display: flex;
                justify-items: center;
                flex-direction: column;

                @include tablet {
                    flex-direction: row;
                }
               
                &:before {
                    content: "";
                    display: flex;
                    height: 100%;
                    width: 100%;
                    padding-top: $xm;
                    border-width: 1px 0 0 0;
                    border-style: solid;
                    border-color: $ui-line;
                    
                    @include tablet {
                        width: 0;
                        padding-right: $xm;
                        border-width: 0 0 0 1px;
                    }

                    @include desktop {
                        padding-right: $xl01;
                    }
                }

                .inner {
                    display: flex;
                    flex-direction: column;
                    padding: 0;

                    @include tablet {
                        padding-top: $s;
                        padding-bottom: $s;
                    }

                    .disclaimer-header {
                        display: flex;
                        align-items: center;
                        margin-bottom: $s;
                        position: relative;


                        h5 {
                            margin: 0;
                            color: $text-high-emphasis;
                        }

                        img {
                            margin-right: $xs;
                        }
                    }
                    
                }

            }
        }
    }
}