.figures-module {
    .inner {
        padding: $l 0;

        @include small {
            padding: $xl01 0;
        }
        @include tablet {
            padding: $xl02 0;
        }

        .intro-row {
            display: flex;
            margin-bottom: $m;

            @include small {
                margin-bottom: $l;
            }
            @include tablet {
                margin-bottom: $xl01;
            }
            @include desktop {
                margin-bottom: $xl02;
            }

            .title {
                max-width: 28rem;
                margin-bottom: $s;
            }
        }

        .bottom-row {
            display: flex;

            .figure-item {
                text-align: center;
                border-bottom: 1px solid transparentize($color: $brand02, $amount: 0.9);
                border-right: 1px solid transparentize($color: $brand02, $amount: 0.9);
                padding: $m;

                .number {
                    margin-bottom: $xs;
                }
                .title {
                    margin-bottom: $s;

                    @include tablet {
                        width: 90%;
                    }
                }
                .text {
                    display: none;

                    @include small {
                        display: flex;
                    }
                    @include tablet {
                        width: 90%;
                    }
                    @include desktop {
                        width: 80%;
                    }
                }

                &:nth-last-child(-n+2) {
                    border-bottom: none;
                }
                &:nth-child(2n) {
                    border-right: none;
                }

                @include tablet {
                    border-right: none;
                    border-bottom: none;
                    padding: 0;
                    text-align: left;
                }

            }
        }
    }
}