.hero {
    min-height: 80vh;
    border-top: 1px solid $ui_line;

    .inner {
        padding: $m 0;
        display: flex;
        position: relative;
        justify-content: flex-end;

        .hero-card {
            padding: $l $m;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -$m;

            .title {
                margin-bottom: $m;
            }

            &:after {
                content: '';
                width: 100%;
                height: $m;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -$m * 0.95;
                background: url('/images/paper-red.svg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}