.hyflex-module {
    width: 100%;

    .inner {
        padding: 0;

        &.container-fluid-max {
            width: $full_width;
        }

        @include small {
            padding: $m 0 $l;

            &.container-fluid-max {
                width: $max_width;
            }
        }

        .intro {
            display: flex;
            position: relative;
            height: auto;
            
            @include small {
                height: 30rem;
            }

            .img-container {
                margin-left: auto;
                height: 14rem;
            
                @include small {
                    height: 100%;
                }

                .bg-img {
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-image: url(/images/hyflex-girl-student-bg.jpg);

                    @include small {
                        background-size: contain;
                    }

                    @include desktop {
                        background-position: center right;
                        background-size: cover;
                    }
                }
            }

            .hyflex-card {
                position: relative;
                padding: $m;
                transform: translateY(-10%);
                max-width: 90%;
                margin: 0 auto;
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                @include small {
                    padding: $l $m;
                    position: absolute;
                    top: 0;
                    transform: translateY(50%);
                    max-width: 750px;
                    z-index: 99;
                    flex-direction: row;
                }

                img {
                    margin-right: $s;
                    margin-bottom: $xs;

                    @include tablet {
                        margin-right: $xm;
                    }
                }

                .content-text {
                    width: 100%;
                    max-width: 560px;
                    
                    .title {
                        margin-bottom: $s*.75;
                    }
                    .standfirst {
                        margin-bottom: $xm;
                        color: transparentize($color: $text-high-emphasis, $amount: 0.2)
                    }

                    p {
                        color: transparentize($color: $text-high-emphasis, $amount: 0.1)
                    }
                }


                &:after {
                    content: '';
                    width: 100%;
                    height: $m;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -$m * 0.95;
                    background: url('/images/paper-silver.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }

    }
}