.nav-tabs {
    width: 100%;
    border-bottom: 1px solid $ui_line;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: $ui-bg-01;
    z-index: 9999;
    box-shadow: 0 0 12px rgba(0,0,0, .075);
    
    &.sticky-tabs .inner {
        ul li {
            a {
                margin-bottom: $xm*0.75;
                span {
                opacity: 0;
                }
            }
            padding: $xs $m;
        }
    }

    &.menu-is-open {
        z-index: 0;
    }

    .inner {
        ul {
            display: flex;

            li {
                padding: $m;
                display: flex;
                align-items: center;
                border-right: 1px solid $ui_line;
                transition: padding .5s ease;

                a {
                    transition: margin .5s ease;

                    span {
                        @include navigation();
                        display: block;
                        opacity: 1;
                        transition: opacity .5s ease;
                    }
                    @include navigation_l();
                }
                img {
                    margin-right: $s;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 5px;
                    background-color: $interactive_main;
                    transition: opacity .35s;
                    opacity: 0;
                }

                &.current:after,
                &:hover:after {
                   right: 0;
                   width: 100%;
                   opacity: 1;
                   transition: all 0.5s linear;
                }

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}