
/* Slideshow container */
.slideshow-container {
    margin: auto;
    position: relative;

    > .inner {
        padding: $m $xl01;
        
        @include small {
            padding: $l $xl01;
        }
        
        @include superlarge {
            position: relative;
        }


        @include tablet {
            padding: $xl02 0;
        }
    }

    &[data-direction="prev"] .slides{
        animation-name: slideInPrev;
        animation-duration: .5s;
    }

    &[data-direction="next"] .slides {
        animation-name: slideInNext;
        animation-duration: .5s;
    }


    /* Hide the images by default */
    .slides {
        display: none;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        background-color: $ui-bg_03;
        top: 40%;
        width: auto;
        padding: 16px;
        font-weight: bold;
        transition: 0.6s ease;
        user-select: none;
        box-shadow: $shadow_01;
        z-index: 999;

        &:hover {
            background-color: transparentize($color: $basic01, $amount: 0.5);
        }

        @include tablet {
            top: 50%;
        }
    }
    
    /* Position the "next button" to the right */
    .next {
        right: 0;
    }

    .prev {
        left: 0;
        img {
            transform: rotate(-180deg);
        }
    }

    /* Animations */

    @keyframes slideInPrev {
        from {
            opacity: 0; 
            transform: translateX(50%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes slideInNext {
        from {
            opacity: 0; 
            transform: translateX(-50%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

}
  