.tabs {
    width: 100%;
    display: flex;
    
    .tab-content {
        display: flex;
        border: 1px solid $ui_line;
        padding: $xl02;
        padding-top: $xl04;
        flex: auto;

        .tab-content-item {
            display: none; 

            &.current {
                display: block;
            }

            .standfirst {
                margin-bottom: $m;
            }
        }
    }

    .tab-menu {
        padding: 0;
        padding-top: $xl01*.75;
        
        ul {
            width: 100%;
            border: 1px solid $ui_line;
            border-top: 0;
            border-right: 0;

            .tab-menu-item {
                width: 100%;
                position: relative;

                .inner {
                    padding: $m $xm;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $ui_line;

                    a {
                        width: 80%;
                        color: $text-low-emphasis;
                    }
                }

                &.current .inner a {
                    color: $text-high-emphasis;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 0%;
                    width: 5px;
                    transition: opacity .35s;
                    opacity: 0;
                }

                &.current:before,
                &:hover:before {
                   right: 0;
                   height: 100%;
                   opacity: 1;
                   transition: all 0.25s ease-out;
                }

                &.current:before {
                    background-color: $interactive_main;
                }

                &:hover {
                    transition: all 0.25s ease-out;
                    background-color: transparentize($color: $ui-bg-02, $amount: 0.65);
                    &:before {
                        background-color: $interactive_disabled_contrast;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                &:last-child .inner {
                    border-bottom: none;
                }
            }
        }
    }
}