.testimonials {
    width: 100%;

    .inner {
        position: relative;
        display: flex;
        
        .testimonials-container {
            position: relative;
            width: 100%;
            
            .testimonials-card {
                width: 100%;
                padding: $m;
                display: flex;
                align-content: center;
                z-index: 99;
                min-height: 300px;
         
                @include tablet {
                    width: 90%;
                    padding: $l;
                }
            }


            blockquote {
                width: 100%;
                
                @include smalltablet {
                    width: 75%;
                }
                
                @include tablet {
                    width: 80%;
                }

                &:before {
                    content: '';
                    width: 2rem;
                    height: 2rem;
                    background-size: contain;
                    display: inline-flex;
                    background-repeat: no-repeat;
                    background-image: url(/images/icons/icon-open-quote.svg);
                }
            }
            .quote {
                margin-bottom: $xm;
                @include body_m();
                
                @include tablet {
                    @include body_l();
                }

            }
        }

        .img-container {
            display: flex;
            z-index: 999;
            max-height: 300px;
            max-width: 300px;
            margin-left: auto;
            transform: translate(0, 10%);

            img {
                object-fit: cover;
                object-position: top;
            }

            @include tablet {
                max-width: 200px;
                max-height: 200px;
                top: 50%;
                right: -10%;
                position: absolute;
                right: 0;
                transform: translate(0, -50%);
            }
            
        }
    }
}