.testimonials {
    width: 100%;

    .inner {
        position: relative;
        display: flex;

        flex-direction: row-reverse;
        padding: 0;
        
        .testimonials-card {
            width: 100%;
            padding: $m;
            display: flex;
            align-content: center;
            z-index: 99;
            
            @include desktop {
                margin: $m 0;
                z-index: 99;
                position: absolute;
                left: 0;
            }

            blockquote {
                width: 100%;
                margin: 0 auto;

                @include tablet {
                    width: 75%;
                }

                &:before,
                &:after {
                    content: '';
                    width: 2rem;
                    height: 2rem;
                    background-size: contain;
                    display: inline-flex;
                    background-repeat: no-repeat;
                }
                
                &:before {
                    background-image: url(/images/icons/icon-open-quote.svg);
                    
                    @include tablet {
                        transform: translateX(-100%);
                    }
                }
                
                &:after {
                    background-image: url(/images/icons/icon-close-quote.svg);
                    float: right;
                    transform: translateY(-80%);
                    display: none;

                    @include tablet {
                        display: block;
                    }
                }
            }
            .quote {
                margin-bottom: $xm;
            }
        }

        .img-container {
            margin-left: auto;
            display: flex;

            img {
                object-fit: cover;
            }
        }
    }
}