/* 
@font-face {
    font-family: "X";
    src: url("..") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "X";
    src: url("..") format("woff2");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "X";
    src: url("..") format("woff2");
    font-weight: 200;
    font-style: normal;
}
   */