<article class="accordion row no-gutters">
    <div class="inner container-fluid-max">
        <ul class="accordion-menu">
            <li class="accordion-menu-item" >
                <div class="accordion-btn current" data-accordionitem="ac-practicas-presenciales">
                    <img src="./images/icons/icon-practices.svg"/>
                    <a class="title-xs">Prácticas presenciales</a>
                </div>
    
                <div class="accordion-content-item current" id="ac-practicas-presenciales">
                    <p class="standfirst body-l">
                        Las prácticas presenciales seguirán siendo el corazón del aprendizaje experiencial, con las mejores instalaciones y profesores para trabajar en entornos simulados y más de 6000 convenios de prácticas con empresas, 100% garantizadas.
                    </p>
                    <ul class="dotted-list" >
                        <li>
                            <h4 class="title title-xs">Experiencia inmersiva</h4>
                            <p class="body-m">Permite la total interacción entre los alumnos y el docente con los alumnos que asisten en remoto: pantallas con alumnado en remoto, visión del aula y contenidos, cámaras y micrófonos 360º, pizarras interactivas...</p>
                        </li>
                        <li>
                            <h4 class="title title-xs">Herramientas y sistemas virtuales</h4>
                            <p class="body-m">Para tutorías personalizadas y evaluación continua.</p>
                        </li>
                        <li>
                            <h4 class="title title-xs">Reserva de puesto asistencia presencial</h4>
                            <p class="body-m">Hemos desarrollado una herramienta para reservar el puesto y poder así mantener las medidas de seguridad en entorno físico.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="accordion-menu-item">
                <div class="accordion-btn" data-accordionitem="ac-aula-extendida">
                    <img src="./images/icons/icon-expanded.svg"/>
                    <a class="title-xs">Aula extendida</a>
                </div>
                <div class="accordion-content-item" id="ac-aula-extendida">
                    <p class="standfirst body-l">
                        En el Aula extendida podrás asistir a clase presencialmente desde el campus o en remoto gracias a la <span class="bold">digitalización del 100% de las aulas</span>, que permite una perfecta interacción entre profesor y estudiantes, estés donde estés no te perderás nada.
                    </p>
                    <ul class="dotted-list">
                        <li>
                            <h4 class="title title-xs">Experiencia inmersiva</h4>
                            <p class="body-m">Permite la total interacción entre los alumnos y el docente con los alumnos que asisten en remoto: <span class="bold">pantallas con alumnado en remoto, visión del aula y contenidos, cámaras y micrófonos 360º, pizarras interactivas...</span></p>
                        </li>
                        <li>
                            <h4 class="title title-xs">Herramientas y sistemas virtuales</h4>
                            <p class="body-m">Para tutorías personalizadas y evaluación continua.</p>
                        </li>
                        <li>
                            <h4 class="title title-xs">Reserva de puesto asistencia presencial</h4>
                            <p class="body-m">Hemos desarrollado una herramienta para reservar el puesto y poder así mantener las medidas de seguridad en entorno físico.</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="accordion-menu-item" >
                <div class="accordion-btn" data-accordionitem="ac-digital-block">
                    <img src="./images/icons/icon-cloud.svg"/>
                    <a class="title-xs">Digital Block</a>
                </div>
                <div class="accordion-content-item" id="ac-digital-block">
                    <p class="standfirst body-l">
                            En la Universidad Europea te ofrecemos más, queremos que puedas personalizar tu aprendizaje incorporando más <span class="bold">contenidos digitales, exclusivos y diferenciales.</span>
                    </p>
                    <ul class="dotted-list">
                        <li>
                            <h4 class="title title-xs">
                                    Contenidos digitales bajo demanda
                            </h4>
                            <p class="body-m">
                                    MasterClasses, Webinars y talleres online que permiten una formación con los mejores profesionales en cada área de conocimiento.
                            </p>
                        </li>
                        <li>
                            <h4 class="title title-xs">Virtualización de clases prácticas</h4>
                            <p class="body-m">Aprovechamos todas las ventajas que nos ofrece la tecnología en entornos simulados y laboratorios virtuales.</p>
                        </li>
                    </ul>
                    </div>
            </li>
        </ul>
    </div>
</article>