<section class="full-width-banner" id="fw-banner-01">
    <a href="https://universidadeuropea.es/visita-campus" target="_blank">
        <div class="overlay"></div>
        <div class="inner container-fluid-max">
            <div class="row no-gutters">
                <div class="content content col-md-8 col-lg-5 col-10">
                    <h3 class="title title-m">Ya estamos preparados para que nos conozcas</h3>
                    <p class="text body-l">Pide cita para visitar el campus de manera segura. ¡Visítanos!</p>
                    <span class="btn btn-primary">Ven a conocernos</span>
                </div>
            </div>
        </div>
    </a>
</section>