<section class="covid-measures-module">
    <div class="inner container-fluid">
        <div class="row no-gutters">
            <header class="header-item col-md-4">
                <div class="title-row">
                    <img src="./images/icons/icon-covid-measures.svg" />
                    <h2 class="title title-m">Medidas de seguridad e higiene</h2>
                </div>
                
                <p class="standfirst body-l">El campus ya está listo. Hemos adaptado las aulas y todas nuestras instalaciones con todas las medidas de higiene y seguridad para tu tranquilidad y la de toda la comunidad educativa.</p>
            </header>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "sanitizing-points", 
                "title": "Puntos higienizantes", 
                "text": "Puntos sanitizantes/higienizantes en diversas/múltiples ubicaciones de los campus (como por ejemplos en accesos)"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "wayfinding-sanitary", 
                "title": "Señalética directrices sanitarias", 
                "text": "Señalética para directrices de seguridad, distanciamiento, en los campus y clínicas universitarias"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "wayfinding-classrooms", 
                "title": "Señalética en las aulas", 
                "text": "Señalética en aulas y espacios comúnes que necesiten reducción de aforo"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "sanitary-protocols", 
                "title": "Protocolos médicos", 
                "text": "Protocolos médicos y formación sobre salud para toda la comunidad educativa"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "assistance-line", 
                "title": "Teléfono asistencial", 
                "text": "Número de teléfono asistencial para dudas y preguntas sobre Covid para la comunidad educativa"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "medical-follow-ups", 
                "title": "Seguimientos médicos", 
                "text": "Protocolos de seguimiento de salud de la comunidad educativa"
            }'></include>

            <include src="./partials/covid-measures-item.html" locals='{
                "image": "desinfection", 
                "title": "Constante limpieza y desinfección", 
                "text": "Medidas de higiene, servicios de limpieza y desinfección en los campus con mayor frecuencia"
            }'></include>

            <div class="col-md-4"></div>
        </div>
    </div>
</section>