<section class="disclaimer-banner">
    <div class="inner container-fluid">
        <div class="row no-gutters">
            <div class="col-left col-md-6">
                <p class="body-xl large-text">¡Ya queda menos para que tú seas el protagonista y crees tus propias experiencias!</p>
                <h4 class="title-s hashtags">
                    #TeEsperamos #MásAllá
                </h4>
            </div>
            <div class="col-right col-md-4">
                <div class="inner">
                    <header class="disclaimer-header">
                        <img src="/images/icons/icon-disclaimer.svg" alt="Icono Información">
                        <h5 class="title caption-s">Disclaimer</h5>
                    </header>
                    <p class="body-s">
                        Todos los campus cumplen las medidas de prevención para evitar la propagación del COVID 19 conforme a la legislación vigente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>