<section class="figures-module ui-bg-02">
    <div class="inner container-fluid-max">
        <div class="row intro-row no-gutters">
            <div class="col-md-6">
                <h2 class="title title-xl">Nuestra reacción al COVID-19</h2>
            </div>
            <p class="body-m col-md-6">
                La Universidad Europea, tras declararse el estado de alarma en España, consiguió adaptar todos sus
                programas y pasar de un modelo 100% presencial a un nuevo modelo 100% remoto. <span class="bold">
                    En menos de 48 horas se
                migró toda la actividad académica a remoto
                </span>, incorporando la tecnología más innovadora en materia de
                prácticas y simulaciones virtualizadas, para mantener el compromiso de aprendizaje experiencial que
                impulsa la formación en entornos laborales reales, para que los alumnos sean los profesionales que las
                empresas demandan.
            </p>
        </div>
        <div class="row bottom-row no-gutters">
            <include src="./partials/figures-item.html" locals='{
                "number": "6.000", 
                "title": "Clases semanales", 
                "text": "Con una asistencia de estudiantes en remoto por encima del 90%",
                "columns": "col-md-3 col-6"
            }'></include>
            <include src="./partials/figures-item.html" locals='{
                "number": "1.200", 
                "title": "Profesores", 
                "text": "Más de 5.000 sesiones en docencia y herramientas digitales al Claustro",
                "columns": "col-md-3 col-6"
            }'></include>
            <include src="./partials/figures-item.html" locals='{
                "number": "2.000", 
                "title": "Prácticas virtualizadas", 
                "text": "Simulaciones en entornos virtualizados para mantener el aprendizaje experiencial",
                "columns": "col-md-3 col-6"
            }'></include>
            <include src="./partials/figures-item.html" locals='{
                "number": "3.243", 
                "title": "Exámenes", 
                "text": "Evaluación en formato virtual de 2.403 asignaturas",
                "columns": "col-md-3 col-6"
        }'></include>
        </div>
    </div>
</section>