<footer>
    <div class="row">
        <div class="container-fluid">
            <div class="top-section">
                <a href="https://www.facebook.com/UnivEuropea" class="social-link icon icon-facebook" rel="nofollow">
                    <img src="./images/icons/social/facebook.svg"/>
                </a>
                <a href="https://twitter.com/ueuropea" class="social-link icon icon-twitter" rel="nofollow">
                    <img src="./images/icons/social/twitter.svg"/>
                </a>
                <a href="https://www.youtube.com/univeuropea" class="social-link icon icon-youtube" rel="nofollow">
                    <img src="./images/icons/social/youtube.svg"/>
                </a>
                <a href="https://www.instagram.com/ueuropea/" class="social-link icon icon-instagram" rel="nofollow">
                    <img src="./images/icons/social/instagram.svg"/>
                </a>
                <a href="http://www.linkedin.com/edu/school?id=12232&amp;trk=tyah&amp;trkInfo=tas%3Auniversidad%20europea%2Cidx%3A3-1-4" class="social-link icon icon-linkedin" rel="nofollow">
                    <img src="./images/icons/social/linkedin.svg"/>
                </a>
            </div>
        </div>
    </div>
    <div class="row red-border">
        <div class="container-fluid">
            <div class="row middle-section">
                <section>
                    <p>Universidad Europea</p>
                    <a href="https://internacional.universidadeuropea.es" ga-click="" data-category="Navegación"
                        data-action="Web Internacional" data-label="0027M Footer" rel="nofollow">Web Internacional</a>
                    <a href="https://universidadeuropea.es/unete-al-equipo" ga-click="ga-click"
                        data-category="Navegación" data-action="Únete al Equipo" data-label="0027M Footer"
                        title="Únete al equipo">Únete al Equipo</a>
                    <a href="http://toguethermagazine.universidadeuropea.es" ga-click="" data-category="Navegación"
                        data-action="TogUEther Magazine" data-label="0027M Footer" rel="nofollow">TogUEther Magazine</a>
                    <a href="https://value.universidadeuropea.es/" ga-click="" data-category="Navegación"
                        data-action="ValUE" data-label="0027M Footer" rel="nofollow">ValUE</a>
                </section>
                <section>
                    <p>Nuestros estudios</p>
                    <a href="https://universidadeuropea.es/curso" ga-click="" data-category="Navegación"
                        data-action="Curso" data-label="0027M Footer">Curso</a> <a
                        href="https://universidadeuropea.es/ciclo-formativo" ga-click="" data-category="Navegación"
                        data-action="Ciclos Formativos" data-label="0027M Footer">Ciclos Formativos</a> <a
                        href="https://universidadeuropea.es/grado" ga-click="" data-category="Navegación"
                        data-action="Grados" data-label="0027M Footer">Grados</a> <a
                        href="https://universidadeuropea.es/postgrado" ga-click="" data-category="Navegación"
                        data-action="Masteres y Postgrados" data-label="0027M Footer">Masteres y Postgrados</a> <a
                        href="https://universidadeuropea.es/doctorado" ga-click="" data-category="Navegación"
                        data-action="Doctorados" data-label="0027M Footer">Doctorados</a> <a href="/filter" ga-click=""
                        data-category="Navegación" data-action="Toda la oferta académica" data-label="0027M Footer">Toda
                        la oferta académica</a>
                </section>
                <section>
                    <p>Sala de Prensa</p>
                    <a href="https://universidadeuropea.es/noticias" ga-click="ga-click" data-category="Navegación"
                        data-action="Noticias" data-label="0027M Footer" rel="nofollow" title="Noticias">Noticias</a>
                    <a href="https://universidadeuropea.es/prensa" ga-click="ga-click" data-category="Navegación"
                        data-action="Prensa" data-label="0027M Footer" title="Sala de prensa">Prensa</a>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="bottom-section">
                <div class="bottom-section__links">
                    <a href="https://universidadeuropea.es/preguntas-frecuentes" ga-click="ga-click"
                        data-category="Navegación" data-action="Preguntas Frecuentes" data-label="0027M Footer"
                        title="Preguntas Frecuentes">Preguntas Frecuentes</a>
                    <a href="https://universidadeuropea.es/contacto" ga-click="ga-click" data-category="Navegación"
                        data-action="Contacto" data-label="0027M Footer" title="Contacto">Contacto</a>
                    <a href="https://universidadeuropea.es/politica-de-privacidad" ga-click="ga-click"
                        data-category="Navegación" data-action="Política de Privacidad" data-label="0027M Footer"
                        title="Política de privacidad">Política de Privacidad</a>
                    <a href="https://universidadeuropea.es/politica-de-cookies" ga-click="ga-click"
                        data-category="Navegación" data-action="Cookies" data-label="0027M Footer"
                        title="Política de cookies">Cookies</a>
                    <a href="https://universidadeuropea.es/aviso-legal" ga-click="ga-click" data-category="Navegación"
                        data-action="Aviso Legal" data-label="0027M Footer" title="Aviso legal">Aviso Legal</a>
                    <a href="tel:914146611" ga-click="" data-category="Navegación"
                        data-action="Teléfono de Atención al Estudiante" data-label="0027M Footer">Teléfono de Atención
                        al Estudiante</a> </div>
            </div>
        </div>
    </div>
</footer>