<header>
   <!-- Desktop menu -->
   <div id="sticky-header" class="desktop-only">

      <!-- Topbar -->
      <div class="row top-menu hide-when-sticky">
         <div class="container-fluid">
            <nav class="top-menu__links">
               <ul>
                  <li>
                     <a href="https://universidadeuropea.es/contacto" title="Contacto">Contacto</a>
                  </li>

                  <li>
                     <a href="https://universidadeuropea.es/prensa" rel="nofollow" title="Sala de prensa">Prensa</a>
                  </li>

                  <li>
                     <a href="https://universidadeuropea.es/noticias" rel="nofollow" title="Noticias">Noticias</a>
                  </li>

                  <li>
                     <a href="https://universidadeuropea.es/agenda" title="Agenda">Agenda</a>
                  </li>

                  <li>
                     <a href="https://universidadeuropea.es/blog">Blog</a>
                  </li>

                  <li>
                     <a href="https://alumni.universidadeuropea.es/" rel="nofollow">Alumni</a>
                  </li>
               </ul>

               <ul class="floated-right">
                  <li class="floated-right floated-right--lang">
                     <div class="megamenu-mobile-submenu">
                        <button class="two-line-link megamenu-mobile-submenu__trigger">
                           <span>Español</span>
                        </button>

                        <!-- <ul class="megamenu-mobile-submenu__content lang-selector">
                           <li><a href="https://universidadeuropea.es/te-esperamos">Español</a></li>
                           <li><a href="https://universidadeuropea.es/en">Inglés</a></li>
                        </ul> -->

                     </div>
                  </li>

                  <li class="floated-right text-higlighted-blue">
                     <a class="top-menu__phone link" href="tel:917407272">
                        <i class="icon icon-phone"></i>
                        917407272
                     </a>
                  </li>

                  <li class="floated-right search-link">
                     <button class="header-btn search-btn"></button>
                  </li>

                  <li class="floated-right private-area-link hide-when-sticky">
                     <a href="/login" title="Área privada">
                        <i class="icon icon-user-blue"></i>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>

      <!-- Bottom menu -->
      <div id="bottom-menu-container">
         <div class="row bottom-menu">
            <div class="container-fluid bottom-menu__content">

               <a href="https://universidadeuropea.es/" class="logo-container">
                  <img src="/images/ue-logo.svg" alt="Logo de la Universidad Europea">
               </a>

               <div class="university-container h100">
                  <nav>
                     <ul>
                        <li>
                           <a class="two-line-link megamenu-trigger"
                              data-menuid="container-e0116bd9-00c4-4327-b452-9fa76dd856fa" ga-click=""
                              data-category="Navegación" data-action="Menú - Conoce Universidad Europea"
                              data-label="002M Cabecera">
                              <span data-menuid="first-container">Conoce</span>Universidad Europea
                           </a>
                        </li>

                        <li>
                           <a class="two-line-link megamenu-trigger"
                              data-menuid="container-a90e974f-f435-4dd6-9f3f-71e206803927" ga-click=""
                              data-category="Navegación" data-action="Menú - Descubre Oferta Académica"
                              data-label="002M Cabecera">
                              <span data-menuid="first-container">Descubre</span>Oferta Académica
                           </a>
                        </li>

                        <li>
                           <a class="two-line-link megamenu-trigger"
                              data-menuid="container-66a5a59e-002c-41e6-a3ce-708bbc1995ac" ga-click=""
                              data-category="Navegación" data-action="Menú - Vive Experiencia Universitaria"
                              data-label="002M Cabecera">
                              <span data-menuid="first-container">Vive</span>Experiencia Universitaria
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>

               <div class="h100">
                  <button class="info-btn btn-primary hide-when-sticky js-modal" ga-click="" data-target="cta-highlight-modal"
                     data-category="Solicitud de información" data-action="Solicita información - Desplegable"
                     data-label="002M Cabecera">
                     Solicita información
                  </button>

                  <ul class="clickable-links h100">
                     <li class="only-sticky">
                        <button class="header-btn search-btn" ga-click="" data-category="Búsqueda"
                           data-action="Buscar - Desplegable" aria-label="Abrir buscador" data-label="002M Cabecera">
                        </button>
                     </li>

                     <li class="only-sticky">
                        <a href="/login" class="btn-secondary private-area-link header-btn" ga-click="" rel="nofollow"
                           data-category="Login" data-action="Área privada" data-label="002M Cabecera">
                           <i class="icon icon-user-blue"></i>
                        </a>
                     </li>

                     <li class="only-sticky bottom-menu__highlighted">
                        <button class="btn-primary js-modal" ga-click="" data-category="Solicitud de información"
                           data-target="cta-highlight-modal" data-action="Solicita información - Desplegable"
                           data-label="002M Cabecera">Solicita información
                        </button>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

         <!-- Mega menu -->
         <div class="row">
            <div class="megamenu-parent">
               <div class="megamenu-parent__inner" id="megamenu-layer-outer">
                  <div class="container-fluid position-relative" id="megamenu-layer">

                     <!-- Conoce UE Options -->
                     <div class="megamenu-content" id="container-e0116bd9-00c4-4327-b452-9fa76dd856fa">
                        <div class="menu-container">
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">¿Qué nos hace diferentes?</p>
                                 <a href="https://universidadeuropea.es/conocenos/alianzas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Alianzas" data-label="002M Cabecera"
                                    title="Alianzas">Alianzas</a>
                                 <a href="https://universidadeuropea.es/conocenos/internacionalidad" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Internacionalidad"
                                    data-label="002M Cabecera" title="Internacionalidad">Internacionalidad</a>
                                 <a href="https://universidadeuropea.es/conocenos/investigacion" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Investigación"
                                    data-label="002M Cabecera" title="Investigación">Investigación</a>
                                 <a href="https://universidadeuropea.es/conocenos/modelo-academico" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Modelo Académico"
                                    data-label="002M Cabecera" title="Modelo Acádemico HYFLEX">Modelo Académico</a>
                                 <a href="https://universidadeuropea.es/conocenos/claustro" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Claustro" data-label="002M Cabecera"
                                    title="Claustro">Claustro</a>
                                 <a href="https://universidadeuropea.es/madrid/impacto-social" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Impacto Social"
                                    data-label="002M Cabecera" title="Impacto Social">Impacto Social</a>
                                 <a href="https://universidadeuropea.es/conocenos/sistema-calidad" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Sistema de Calidad"
                                    data-label="002M Cabecera" title="Sistema de Calidad">Sistema de Calidad</a>
                              </div>
                           </div>

                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Campus</p>
                                 <a href="https://universidadeuropea.es/donde-estudiar/canarias" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Canarias" data-label="002M Cabecera"
                                    title="Canarias">Canarias</a>
                                 <a href="https://universidadeuropea.es/donde-estudiar/alcobendas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Madrid - Alcobendas"
                                    data-label="002M Cabecera" title="Alcobendas">Madrid - Alcobendas</a>
                                 <a href="https://universidadeuropea.es/donde-estudiar/villaviciosa-de-odon"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Madrid - Villaviciosa de Odón" data-label="002M Cabecera"
                                    title="Villaviciosa de Odón">Madrid - Villaviciosa de Odón</a>
                                 <a href="https://universidadeuropea.es/donde-estudiar/valencia" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Valencia" data-label="002M Cabecera"
                                    title="Valencia">Valencia</a>
                                 <a href="https://universidadeuropea.es/donde-estudiar/online" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Campus Online"
                                    data-label="002M Cabecera" title="Campus Online">Campus Online</a>
                              </div>
                           </div>

                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Quiénes somos</p>
                                 <a href="https://universidadeuropea.es/quienes-somos/mision-vision-y-valores"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Misión, Visión y Valores" data-label="002M Cabecera"
                                    title="Misión, visión y valores">Misión, Visión y Valores</a>
                                 <a href="https://universidadeuropea.es/quienes-somos/organos-de-gobierno"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Órganos de Gobierno" data-label="002M Cabecera"
                                    title="Órganos de Gobierno">Órganos de Gobierno</a>
                                 <a href="https://universidadeuropea.es/quienes-somos/honoris-causa" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Honoris Causa"
                                    data-label="002M Cabecera" title="Honoris Causa">Honoris Causa</a>
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- Descubre Oferta Académica options -->
                     <div class="megamenu-content" id="container-a90e974f-f435-4dd6-9f3f-71e206803927">
                        <div class="menu-container">
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Estudia en ...</p>
                                 <a href="https://universidadeuropea.es/madrid" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Madrid"
                                    data-label="002M Cabecera" title="Universidad Europea de Madrid">Universidad Europea
                                    de Madrid</a>
                                 <a href="https://universidadeuropea.es/valencia" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Valencia"
                                    data-label="002M Cabecera" title="Universidad Europea de Valencia">Universidad
                                    Europea de Valencia</a>
                                 <a href="https://universidadeuropea.es/canarias" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Canarias"
                                    data-label="002M Cabecera" title="Universidad Europea de Canarias">Universidad
                                    Europea de Canarias</a>
                                 <a href="https://universidadeuropea.es/online" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea · Online"
                                    data-label="002M Cabecera" title="Universidad Europea · Online">Universidad Europea
                                    · Online</a>
                                 <a href="https://universidadeuropea.es/real-madrid" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Escuela Universitaria Real Madrid"
                                    data-label="002M Cabecera" title="Escuela Universitaria Real Madrid">Escuela
                                    Universitaria Real Madrid</a>
                                 <a href="https://universidadeuropea.es/business-tech-school" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Business &amp; Tech School con IBM"
                                    data-label="002M Cabecera"
                                    title="Escuela Business &amp; Tech IBM - Universidad Europea">Business &amp; Tech
                                    School con IBM</a>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Tipo de Estudio</p>
                                 <a href="/grado" ga-click="" data-category="Navegación" data-action="Menú - Grados"
                                    data-label="002M Cabecera">Grados</a> <a href="/postgrado" ga-click=""
                                    data-category="Navegación" data-action="Menú - Másteres y Postgrados"
                                    data-label="002M Cabecera">Másteres y Postgrados</a> <a href="/doctorado"
                                    ga-click="" data-category="Navegación" data-action="Menú - Doctorados"
                                    data-label="002M Cabecera">Doctorados</a> <a href="/ciclo-formativo" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ciclos Formativos"
                                    data-label="002M Cabecera">Ciclos Formativos</a> <a
                                    href="https://universidadeuropea.es/curso" ga-click="" data-category="Navegación"
                                    data-action="Menú - Cursos" data-label="002M Cabecera">Cursos</a>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Área de Conocimiento</p>
                                 <a href="/animacion-videojuegos" ga-click="" data-category="Navegación"
                                    data-action="Menú - Animación y Videojuegos" data-label="002M Cabecera">Animación y
                                    Videojuegos</a> <a href="/arquitectura-diseno" ga-click=""
                                    data-category="Navegación" data-action="Menú - Arquitectura y diseño"
                                    data-label="002M Cabecera">Arquitectura y diseño</a> <a
                                    href="/comunicacion-y-marketing" ga-click="" data-category="Navegación"
                                    data-action="Menú - Comunicación y Marketing"
                                    data-label="002M Cabecera">Comunicación y Marketing</a> <a href="/criminologia"
                                    ga-click="" data-category="Navegación" data-action="Menú - Criminología"
                                    data-label="002M Cabecera">Criminología</a> <a href="/ingenieria" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ingeniería"
                                    data-label="002M Cabecera">Ingeniería</a> <a href="/derecho" ga-click=""
                                    data-category="Navegación" data-action="Menú - Derecho"
                                    data-label="002M Cabecera">Derecho</a> <a href="/deporte" ga-click=""
                                    data-category="Navegación" data-action="Menú - Deporte"
                                    data-label="002M Cabecera">Deporte</a> <a href="/medicina-y-salud" ga-click=""
                                    data-category="Navegación" data-action="Menú - Medicina y Salud"
                                    data-label="002M Cabecera">Medicina y Salud</a> <a href="/ciencias" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ciencias"
                                    data-label="002M Cabecera">Ciencias</a> <a href="/empresa-y-tecnologia" ga-click=""
                                    data-category="Navegación" data-action="Menú - Empresa y Tecnología"
                                    data-label="002M Cabecera">Empresa y Tecnología</a> <a
                                    href="/relaciones-internacionales" ga-click="" data-category="Navegación"
                                    data-action="Menú - Relaciones Internacionales"
                                    data-label="002M Cabecera">Relaciones Internacionales</a> <a href="/educacion"
                                    ga-click="" data-category="Navegación" data-action="Menú - Educación"
                                    data-label="002M Cabecera">Educación</a> <a href="/idiomas-y-traduccion" ga-click=""
                                    data-category="Navegación" data-action="Menú - Idiomas y Traducción"
                                    data-label="002M Cabecera">Idiomas y Traducción</a> <a href="/turismo" ga-click=""
                                    data-category="Navegación" data-action="Menú - Turismo"
                                    data-label="002M Cabecera">Turismo</a>
                              </div>
                           </div>
                        </div>
                     </div>


                     <!-- Vive la Experiencia options -->
                     <div class="megamenu-content" id="container-66a5a59e-002c-41e6-a3ce-708bbc1995ac">
                        <div class="menu-container">
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Ven a conocernos</p>
                                 <a href="https://universidadeuropea.es/puertas-abiertas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Jornadas de Puertas Abiertas"
                                    data-label="002M Cabecera" title="Jornada de puertas abiertas">Jornadas de Puertas
                                    Abiertas</a>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Necesitas Saber</p>
                                 <a href="https://universidadeuropea.es/experiencia-universitaria/informacion-para-el-alumno"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Información para el Alumno" data-label="002M Cabecera"
                                    title="Información practica para el alumno">Información para el Alumno</a>
                                 <a href="https://universidadeuropea.es/experiencia-universitaria/servicios"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Servicios en la Universidad" data-label="002M Cabecera"
                                    title="Servicios al estudiante">Servicios en la Universidad</a>
                                 <a href="https://universidadeuropea.es/experiencia-universitaria/carreras-profesionales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Carreras Profesionales" data-label="002M Cabecera"
                                    title="Carreras profesionales">Carreras Profesionales</a>
                                 <a href="https://universidadeuropea.es/quienes-somos/emprendedores-sociales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Emprendedores Sociales" data-label="002M Cabecera"
                                    title="Jóvenes emprendedores sociales">Emprendedores Sociales</a>
                                 <a href="https://universidadeuropea.es/experiencia-universitaria/vida-universitaria"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Vida Universitaria" data-label="002M Cabecera"
                                    title="Vida universitaria">Vida Universitaria</a>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="menu-container__group floated-right">
                                 <p class="h5">Admisiones</p>
                                 <a href="https://universidadeuropea.es/becas-ayudas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Becas y Ayudas"
                                    data-label="002M Cabecera" title="Becas y ayudas">Becas y Ayudas</a>
                                 <a href="https://universidadeuropea.es/admisiones-ayudas/convalidaciones-y-traslados-de-centro"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Convalidaciones y Traslados" data-label="002M Cabecera"
                                    title="Convalidaciones y Traslados de Centro">Convalidaciones y Traslados</a>
                                 <a href="https://universidadeuropea.es/admisiones-ayudas/admision-estudiantes-internacionales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Estudiantes Internacionales" data-label="002M Cabecera"
                                    title="Admisión para estudiantes internacionales">Estudiantes Internacionales</a>
                                 <a href="https://universidadeuropea.es/admisiones-ayudas/proceso-admision"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Proceso de Admisión" data-label="002M Cabecera"
                                    title="Proceso de admisión">Proceso de Admisión</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- Table and mobile menu -->
   <!-- <div class="tablet-only megamenu-mobile">
<div class="row bottom-menu">
<div class="container-fluid bottom-menu__content">
<div class="floated-left logo-container">
<a href="https://universidadeuropea.es/">
<img src="/images/logos/ue-logo-mobile.svg" alt="Logo de la Universidad Europea">

</a>
</div>
<div class="floated-right links-container">
<ul class="clickable-links h100">
<li>
<button class="header-btn search-btn" ga-click="" data-category="Búsqueda" data-action="Buscar - Desplegable" aria-label="Abrir buscador" data-label="002M Cabecera">
</button>
</li>
<li>
<a href="/login" class="private-area-link header-btn" ga-click="" data-category="Login" data-action="Área privada" data-label="002M Cabecera">
<i class="icon icon-user-blue"></i>
</a>
</li>
<li><button class="megamenu-mobile__trigger header-btn" ga-click="" data-category="Navegación" data-action="Menu - Desplegable" aria-label="Abrir menú móvil" data-label="002M Cabecera"></button></li>
</ul>
</div>
</div>
</div>
<div class="megamenu-mobile__content">
<ul>
<li class="megamenu-mobile__highlighted">
<button class="js-modal" ga-click="" data-category="Solicitud de información" data-target="cta-highlight-modal" data-action="Solicita información - Desplegable" data-label="002M Cabecera">Solicita información</button>
</li>
<li>
<div class="megamenu-mobile-submenu">
<button class="two-line-link megamenu-mobile-submenu__trigger" ga-click="" data-category="Navegación" data-action="Conoce Universidad Europea - Desplegable" data-label="002M Cabecera">
<span>Conoce</span>Universidad Europea
</button>
<ul class="megamenu-mobile-submenu__content">
   <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="¿Qué nos hace diferentes? - Desplegable" data-label="002M Cabecera">¿Qué nos hace diferentes?</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="¿Qué nos hace diferentes? - Desplegable" data-label="002M Cabecera">¿Qué nos hace diferentes?</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/conocenos/alianzas" ga-click="ga-click" data-category="Navegación" data-action="Menú - Alianzas" data-label="002M Cabecera" title="Alianzas">Alianzas</a>
</li>
<li>
<a href="https://universidadeuropea.es/conocenos/internacionalidad" ga-click="ga-click" data-category="Navegación" data-action="Menú - Internacionalidad" data-label="002M Cabecera" title="Internacionalidad">Internacionalidad</a>
</li>
<li>
<a href="https://universidadeuropea.es/conocenos/investigacion" ga-click="ga-click" data-category="Navegación" data-action="Menú - Investigación" data-label="002M Cabecera" title="Investigación">Investigación</a>
</li>
<li>
<a href="https://universidadeuropea.es/conocenos/modelo-academico" ga-click="ga-click" data-category="Navegación" data-action="Menú - Modelo Académico" data-label="002M Cabecera" title="Modelo Acádemico HYFLEX">Modelo Académico</a>
</li>
<li>
<a href="https://universidadeuropea.es/conocenos/claustro" ga-click="ga-click" data-category="Navegación" data-action="Menú - Claustro" data-label="002M Cabecera" title="Claustro">Claustro</a>
</li>
<li>
<a href="https://universidadeuropea.es/madrid/impacto-social" ga-click="ga-click" data-category="Navegación" data-action="Menú - Impacto Social" data-label="002M Cabecera" title="Impacto Social">Impacto Social</a>
</li>
<li>
<a href="https://universidadeuropea.es/conocenos/sistema-calidad" ga-click="ga-click" data-category="Navegación" data-action="Menú - Sistema de Calidad" data-label="002M Cabecera" title="Sistema de Calidad">Sistema de Calidad</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Campus - Desplegable" data-label="002M Cabecera">Campus</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Campus - Desplegable" data-label="002M Cabecera">Campus</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/donde-estudiar/canarias" ga-click="ga-click" data-category="Navegación" data-action="Menú - Canarias" data-label="002M Cabecera" title="Canarias">Canarias</a>
</li>
<li>
<a href="https://universidadeuropea.es/donde-estudiar/alcobendas" ga-click="ga-click" data-category="Navegación" data-action="Menú - Madrid - Alcobendas" data-label="002M Cabecera" title="Alcobendas">Madrid - Alcobendas</a>
</li>
<li>
<a href="https://universidadeuropea.es/donde-estudiar/villaviciosa-de-odon" ga-click="ga-click" data-category="Navegación" data-action="Menú - Madrid - Villaviciosa de Odón" data-label="002M Cabecera" title="Villaviciosa de Odón">Madrid - Villaviciosa de Odón</a>
</li>
<li>
<a href="https://universidadeuropea.es/donde-estudiar/valencia" ga-click="ga-click" data-category="Navegación" data-action="Menú - Valencia" data-label="002M Cabecera" title="Valencia">Valencia</a>
</li>
<li>
<a href="https://universidadeuropea.es/donde-estudiar/online" ga-click="ga-click" data-category="Navegación" data-action="Menú - Campus Online" data-label="002M Cabecera" title="Campus Online">Campus Online</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Quiénes somos - Desplegable" data-label="002M Cabecera">Quiénes somos</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Quiénes somos - Desplegable" data-label="002M Cabecera">Quiénes somos</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/quienes-somos/mision-vision-y-valores" ga-click="ga-click" data-category="Navegación" data-action="Menú - Misión, Visión y Valores" data-label="002M Cabecera" title="Misión, visión y valores">Misión, Visión y Valores</a>
</li>
<li>
<a href="https://universidadeuropea.es/quienes-somos/organos-de-gobierno" ga-click="ga-click" data-category="Navegación" data-action="Menú - Órganos de Gobierno" data-label="002M Cabecera" title="Órganos de Gobierno">Órganos de Gobierno</a>
</li>
<li>
<a href="https://universidadeuropea.es/quienes-somos/honoris-causa" ga-click="ga-click" data-category="Navegación" data-action="Menú - Honoris Causa" data-label="002M Cabecera" title="Honoris Causa">Honoris Causa</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                            </ul>
</div>
</li>
<li>
<div class="megamenu-mobile-submenu">
<button class="two-line-link megamenu-mobile-submenu__trigger" ga-click="" data-category="Navegación" data-action="Descubre Oferta Académica - Desplegable" data-label="002M Cabecera">
<span>Descubre</span>Oferta Académica
</button>
<ul class="megamenu-mobile-submenu__content">
   <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Estudia en ... - Desplegable" data-label="002M Cabecera">Estudia en ...</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Estudia en ... - Desplegable" data-label="002M Cabecera">Estudia en ...</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/madrid" ga-click="ga-click" data-category="Navegación" data-action="Menú - Universidad Europea de Madrid" data-label="002M Cabecera" title="Universidad Europea de Madrid">Universidad Europea de Madrid</a>
</li>
<li>
<a href="https://universidadeuropea.es/valencia" ga-click="ga-click" data-category="Navegación" data-action="Menú - Universidad Europea de Valencia" data-label="002M Cabecera" title="Universidad Europea de Valencia">Universidad Europea de Valencia</a>
</li>
<li>
<a href="https://universidadeuropea.es/canarias" ga-click="ga-click" data-category="Navegación" data-action="Menú - Universidad Europea de Canarias" data-label="002M Cabecera" title="Universidad Europea de Canarias">Universidad Europea de Canarias</a>
</li>
<li>
<a href="https://universidadeuropea.es/online" ga-click="ga-click" data-category="Navegación" data-action="Menú - Universidad Europea · Online" data-label="002M Cabecera" title="Universidad Europea · Online">Universidad Europea · Online</a>
</li>
<li>
<a href="https://universidadeuropea.es/real-madrid" ga-click="ga-click" data-category="Navegación" data-action="Menú - Escuela Universitaria Real Madrid" data-label="002M Cabecera" title="Escuela Universitaria Real Madrid">Escuela Universitaria Real Madrid</a>
</li>
<li>
<a href="https://universidadeuropea.es/business-tech-school" ga-click="ga-click" data-category="Navegación" data-action="Menú - Business &amp; Tech School con IBM" data-label="002M Cabecera" title="Escuela Business &amp; Tech IBM - Universidad Europea">Business &amp; Tech School con IBM</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Tipo de Estudio - Desplegable" data-label="002M Cabecera">Tipo de Estudio</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Tipo de Estudio - Desplegable" data-label="002M Cabecera">Tipo de Estudio</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="/grado" ga-click="" data-category="Navegación" data-action="Menú - Grados" data-label="002M Cabecera">Grados</a>                        </li>
<li>
<a href="/postgrado" ga-click="" data-category="Navegación" data-action="Menú - Másteres y Postgrados" data-label="002M Cabecera">Másteres y Postgrados</a>                        </li>
<li>
<a href="/doctorado" ga-click="" data-category="Navegación" data-action="Menú - Doctorados" data-label="002M Cabecera">Doctorados</a>                        </li>
<li>
<a href="/ciclo-formativo" ga-click="" data-category="Navegación" data-action="Menú - Ciclos Formativos" data-label="002M Cabecera">Ciclos Formativos</a>                        </li>
<li>
<a href="https://universidadeuropea.es/curso" ga-click="" data-category="Navegación" data-action="Menú - Cursos" data-label="002M Cabecera">Cursos</a>                        </li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Área de Conocimiento - Desplegable" data-label="002M Cabecera">Área de Conocimiento</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Área de Conocimiento - Desplegable" data-label="002M Cabecera">Área de Conocimiento</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="/animacion-videojuegos" ga-click="" data-category="Navegación" data-action="Menú - Animación y Videojuegos" data-label="002M Cabecera">Animación y Videojuegos</a>                        </li>
<li>
<a href="/arquitectura-diseno" ga-click="" data-category="Navegación" data-action="Menú - Arquitectura y diseño" data-label="002M Cabecera">Arquitectura y diseño</a>                        </li>
<li>
<a href="/comunicacion-y-marketing" ga-click="" data-category="Navegación" data-action="Menú - Comunicación y Marketing" data-label="002M Cabecera">Comunicación y Marketing</a>                        </li>
<li>
<a href="/criminologia" ga-click="" data-category="Navegación" data-action="Menú - Criminología" data-label="002M Cabecera">Criminología</a>                        </li>
<li>
<a href="/ingenieria" ga-click="" data-category="Navegación" data-action="Menú - Ingeniería" data-label="002M Cabecera">Ingeniería</a>                        </li>
<li>
<a href="/derecho" ga-click="" data-category="Navegación" data-action="Menú - Derecho" data-label="002M Cabecera">Derecho</a>                        </li>
<li>
<a href="/deporte" ga-click="" data-category="Navegación" data-action="Menú - Deporte" data-label="002M Cabecera">Deporte</a>                        </li>
<li>
<a href="/medicina-y-salud" ga-click="" data-category="Navegación" data-action="Menú - Medicina y Salud" data-label="002M Cabecera">Medicina y Salud</a>                        </li>
<li>
<a href="/ciencias" ga-click="" data-category="Navegación" data-action="Menú - Ciencias" data-label="002M Cabecera">Ciencias</a>                        </li>
<li>
<a href="/empresa-y-tecnologia" ga-click="" data-category="Navegación" data-action="Menú - Empresa y Tecnología" data-label="002M Cabecera">Empresa y Tecnología</a>                        </li>
<li>
<a href="/relaciones-internacionales" ga-click="" data-category="Navegación" data-action="Menú - Relaciones Internacionales" data-label="002M Cabecera">Relaciones Internacionales</a>                        </li>
<li>
<a href="/educacion" ga-click="" data-category="Navegación" data-action="Menú - Educación" data-label="002M Cabecera">Educación</a>                        </li>
<li>
<a href="/idiomas-y-traduccion" ga-click="" data-category="Navegación" data-action="Menú - Idiomas y Traducción" data-label="002M Cabecera">Idiomas y Traducción</a>                        </li>
<li>
<a href="/turismo" ga-click="" data-category="Navegación" data-action="Menú - Turismo" data-label="002M Cabecera">Turismo</a>                        </li>
</ul>
</div>
</div>
</div>
</li>                                            </ul>
</div>
</li>
<li>
<div class="megamenu-mobile-submenu">
<button class="two-line-link megamenu-mobile-submenu__trigger" ga-click="" data-category="Navegación" data-action="Vive Experiencia Universitaria - Desplegable" data-label="002M Cabecera">
<span>Vive</span>Experiencia Universitaria
</button>
<ul class="megamenu-mobile-submenu__content">
   <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Ven a conocernos - Desplegable" data-label="002M Cabecera">Ven a conocernos</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Ven a conocernos - Desplegable" data-label="002M Cabecera">Ven a conocernos</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/puertas-abiertas" ga-click="ga-click" data-category="Navegación" data-action="Menú - Jornadas de Puertas Abiertas" data-label="002M Cabecera" title="Jornada de puertas abiertas">Jornadas de Puertas Abiertas</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Necesitas Saber - Desplegable" data-label="002M Cabecera">Necesitas Saber</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Necesitas Saber - Desplegable" data-label="002M Cabecera">Necesitas Saber</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/experiencia-universitaria/informacion-para-el-alumno" ga-click="ga-click" data-category="Navegación" data-action="Menú - Información para el Alumno" data-label="002M Cabecera" title="Información practica para el alumno">Información para el Alumno</a>
</li>
<li>
<a href="https://universidadeuropea.es/experiencia-universitaria/servicios" ga-click="ga-click" data-category="Navegación" data-action="Menú - Servicios en la Universidad" data-label="002M Cabecera" title="Servicios al estudiante">Servicios en la Universidad</a>
</li>
<li>
<a href="https://universidadeuropea.es/experiencia-universitaria/carreras-profesionales" ga-click="ga-click" data-category="Navegación" data-action="Menú - Carreras Profesionales" data-label="002M Cabecera" title="Carreras profesionales">Carreras Profesionales</a>
</li>
<li>
<a href="https://universidadeuropea.es/quienes-somos/emprendedores-sociales" ga-click="ga-click" data-category="Navegación" data-action="Menú - Emprendedores Sociales" data-label="002M Cabecera" title="Jóvenes emprendedores sociales">Emprendedores Sociales</a>
</li>
<li>
<a href="https://universidadeuropea.es/experiencia-universitaria/vida-universitaria" ga-click="ga-click" data-category="Navegación" data-action="Menú - Vida Universitaria" data-label="002M Cabecera" title="Vida universitaria">Vida Universitaria</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                                                            <li>
<div class="overlay-menu">
<button class="overlay-menu__trigger" ga-click="" data-category="Navegación" data-action="Admisiones - Desplegable" data-label="002M Cabecera">Admisiones</button>
<div class="overlay-menu__content">
<button class="overlay-menu__close-btn" ga-click="" data-category="Navegación" data-action="Admisiones - Desplegable" data-label="002M Cabecera">Admisiones</button>
<div class="overlay-menu__content-inner">
<ul>
<li>
<a href="https://universidadeuropea.es/becas-ayudas" ga-click="ga-click" data-category="Navegación" data-action="Menú - Becas y Ayudas" data-label="002M Cabecera" title="Becas y ayudas">Becas y Ayudas</a>
</li>
<li>
<a href="https://universidadeuropea.es/admisiones-ayudas/convalidaciones-y-traslados-de-centro" ga-click="ga-click" data-category="Navegación" data-action="Menú - Convalidaciones y Traslados" data-label="002M Cabecera" title="Convalidaciones y Traslados de Centro">Convalidaciones y Traslados</a>
</li>
<li>
<a href="https://universidadeuropea.es/admisiones-ayudas/admision-estudiantes-internacionales" ga-click="ga-click" data-category="Navegación" data-action="Menú - Estudiantes Internacionales" data-label="002M Cabecera" title="Admisión para estudiantes internacionales">Estudiantes Internacionales</a>
</li>
<li>
<a href="https://universidadeuropea.es/admisiones-ayudas/proceso-admision" ga-click="ga-click" data-category="Navegación" data-action="Menú - Proceso de Admisión" data-label="002M Cabecera" title="Proceso de admisión">Proceso de Admisión</a>
</li>
</ul>
</div>
</div>
</div>
</li>                                            </ul>
</div>
</li>
<li>
<a class="text-higlighted-blue" href="tel:917407272" ga-click="" data-category="Solicitud de información" data-action="Teléfono - 917407272" data-label="002M Cabecera">
<i class="icon icon-phone"></i>
917407272
</a>
</li>
<li class="faded">
<a href="https://universidadeuropea.es/contacto" ga-click="ga-click" data-category="Navegación" data-action="Contacto" data-label="002M Cabecera" title="Contacto">Contacto</a>
</li>
<li class="faded">
<a href="https://universidadeuropea.es/prensa" ga-click="ga-click" data-category="Navegación" data-action="Prensa" data-label="002M Cabecera" rel="nofollow" title="Sala de prensa">Prensa</a>
</li>
<li class="faded">
<a href="https://universidadeuropea.es/noticias" ga-click="ga-click" data-category="Navegación" data-action="Noticias" data-label="002M Cabecera" rel="nofollow" title="Noticias">Noticias</a>
</li>
<li class="faded">
<a href="https://universidadeuropea.es/agenda" ga-click="ga-click" data-category="Navegación" data-action="Agenda" data-label="002M Cabecera" title="Agenda">Agenda</a>
</li>
<li class="faded">
<a href="https://universidadeuropea.es/blog" ga-click="" data-category="Navegación" data-action="Blog" data-label="002M Cabecera">Blog</a></li>
<li class="faded">
<a href="https://alumni.universidadeuropea.es/" ga-click="" data-category="Navegación" data-action="Alumni" data-label="002M Cabecera" rel="nofollow">Alumni</a></li>
<li class="language-selector">
<div class="megamenu-mobile-submenu">
<button class="two-line-link megamenu-mobile-submenu__trigger">
<span>Español</span>
</button>
<ul class="megamenu-mobile-submenu__content lang-selector"><li><a href="https://universidadeuropea.es/te-esperamos">Español</a></li><li><a href="https://universidadeuropea.es/en">Inglés</a></li></ul>
</div>            </li>
</ul>
</div>
</div> -->


</header>