<div class="row">
    <div class="megamenu-parent">
        <div class="megamenu-parent__inner" id="megamenu-layer-outer">
            <div class="container-fluid position-relative" id="megamenu-layer">

                <!-- Conoce UE Options -->
                <div class="megamenu-content" id="container-e0116bd9-00c4-4327-b452-9fa76dd856fa">
                    <div class="menu-container">
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">¿Qué nos hace diferentes?</p>
                                <a href="https://universidadeuropea.es/conocenos/alianzas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Alianzas" data-label="002M Cabecera"
                                    title="Alianzas">Alianzas</a>
                                <a href="https://universidadeuropea.es/conocenos/internacionalidad" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Internacionalidad"
                                    data-label="002M Cabecera" title="Internacionalidad">Internacionalidad</a>
                                <a href="https://universidadeuropea.es/conocenos/investigacion" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Investigación"
                                    data-label="002M Cabecera" title="Investigación">Investigación</a>
                                <a href="https://universidadeuropea.es/conocenos/modelo-academico" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Modelo Académico"
                                    data-label="002M Cabecera" title="Modelo Acádemico HYFLEX">Modelo Académico</a>
                                <a href="https://universidadeuropea.es/conocenos/claustro" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Claustro" data-label="002M Cabecera"
                                    title="Claustro">Claustro</a>
                                <a href="https://universidadeuropea.es/madrid/impacto-social" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Impacto Social"
                                    data-label="002M Cabecera" title="Impacto Social">Impacto Social</a>
                                <a href="https://universidadeuropea.es/conocenos/sistema-calidad" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Sistema de Calidad"
                                    data-label="002M Cabecera" title="Sistema de Calidad">Sistema de Calidad</a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Campus</p>
                                <a href="https://universidadeuropea.es/donde-estudiar/canarias" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Canarias" data-label="002M Cabecera"
                                    title="Canarias">Canarias</a>
                                <a href="https://universidadeuropea.es/donde-estudiar/alcobendas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Madrid - Alcobendas"
                                    data-label="002M Cabecera" title="Alcobendas">Madrid - Alcobendas</a>
                                <a href="https://universidadeuropea.es/donde-estudiar/villaviciosa-de-odon"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Madrid - Villaviciosa de Odón" data-label="002M Cabecera"
                                    title="Villaviciosa de Odón">Madrid - Villaviciosa de Odón</a>
                                <a href="https://universidadeuropea.es/donde-estudiar/valencia" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Valencia" data-label="002M Cabecera"
                                    title="Valencia">Valencia</a>
                                <a href="https://universidadeuropea.es/donde-estudiar/online" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Campus Online"
                                    data-label="002M Cabecera" title="Campus Online">Campus Online</a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Quiénes somos</p>
                                <a href="https://universidadeuropea.es/quienes-somos/mision-vision-y-valores"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Misión, Visión y Valores" data-label="002M Cabecera"
                                    title="Misión, visión y valores">Misión, Visión y Valores</a>
                                <a href="https://universidadeuropea.es/quienes-somos/organos-de-gobierno"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Órganos de Gobierno" data-label="002M Cabecera"
                                    title="Órganos de Gobierno">Órganos de Gobierno</a>
                                <a href="https://universidadeuropea.es/quienes-somos/honoris-causa" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Honoris Causa"
                                    data-label="002M Cabecera" title="Honoris Causa">Honoris Causa</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Descubre Oferta Académica options -->
                <div class="megamenu-content" id="container-a90e974f-f435-4dd6-9f3f-71e206803927">
                    <div class="menu-container">
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Estudia en ...</p>
                                <a href="https://universidadeuropea.es/madrid" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Madrid"
                                    data-label="002M Cabecera" title="Universidad Europea de Madrid">Universidad Europea
                                    de Madrid</a>
                                <a href="https://universidadeuropea.es/valencia" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Valencia"
                                    data-label="002M Cabecera" title="Universidad Europea de Valencia">Universidad
                                    Europea de Valencia</a>
                                <a href="https://universidadeuropea.es/canarias" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea de Canarias"
                                    data-label="002M Cabecera" title="Universidad Europea de Canarias">Universidad
                                    Europea de Canarias</a>
                                <a href="https://universidadeuropea.es/online" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Universidad Europea · Online"
                                    data-label="002M Cabecera" title="Universidad Europea · Online">Universidad Europea
                                    · Online</a>
                                <a href="https://universidadeuropea.es/real-madrid" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Escuela Universitaria Real Madrid"
                                    data-label="002M Cabecera" title="Escuela Universitaria Real Madrid">Escuela
                                    Universitaria Real Madrid</a>
                                <a href="https://universidadeuropea.es/business-tech-school" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Business &amp; Tech School con IBM"
                                    data-label="002M Cabecera"
                                    title="Escuela Business &amp; Tech IBM - Universidad Europea">Business &amp; Tech
                                    School con IBM</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Tipo de Estudio</p>
                                <a href="/grado" ga-click="" data-category="Navegación" data-action="Menú - Grados"
                                    data-label="002M Cabecera">Grados</a> <a href="/postgrado" ga-click=""
                                    data-category="Navegación" data-action="Menú - Másteres y Postgrados"
                                    data-label="002M Cabecera">Másteres y Postgrados</a> <a href="/doctorado"
                                    ga-click="" data-category="Navegación" data-action="Menú - Doctorados"
                                    data-label="002M Cabecera">Doctorados</a> <a href="/ciclo-formativo" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ciclos Formativos"
                                    data-label="002M Cabecera">Ciclos Formativos</a> <a
                                    href="https://universidadeuropea.es/curso" ga-click="" data-category="Navegación"
                                    data-action="Menú - Cursos" data-label="002M Cabecera">Cursos</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Área de Conocimiento</p>
                                <a href="/animacion-videojuegos" ga-click="" data-category="Navegación"
                                    data-action="Menú - Animación y Videojuegos" data-label="002M Cabecera">Animación y
                                    Videojuegos</a> <a href="/arquitectura-diseno" ga-click=""
                                    data-category="Navegación" data-action="Menú - Arquitectura y diseño"
                                    data-label="002M Cabecera">Arquitectura y diseño</a> <a
                                    href="/comunicacion-y-marketing" ga-click="" data-category="Navegación"
                                    data-action="Menú - Comunicación y Marketing"
                                    data-label="002M Cabecera">Comunicación y Marketing</a> <a href="/criminologia"
                                    ga-click="" data-category="Navegación" data-action="Menú - Criminología"
                                    data-label="002M Cabecera">Criminología</a> <a href="/ingenieria" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ingeniería"
                                    data-label="002M Cabecera">Ingeniería</a> <a href="/derecho" ga-click=""
                                    data-category="Navegación" data-action="Menú - Derecho"
                                    data-label="002M Cabecera">Derecho</a> <a href="/deporte" ga-click=""
                                    data-category="Navegación" data-action="Menú - Deporte"
                                    data-label="002M Cabecera">Deporte</a> <a href="/medicina-y-salud" ga-click=""
                                    data-category="Navegación" data-action="Menú - Medicina y Salud"
                                    data-label="002M Cabecera">Medicina y Salud</a> <a href="/ciencias" ga-click=""
                                    data-category="Navegación" data-action="Menú - Ciencias"
                                    data-label="002M Cabecera">Ciencias</a> <a href="/empresa-y-tecnologia" ga-click=""
                                    data-category="Navegación" data-action="Menú - Empresa y Tecnología"
                                    data-label="002M Cabecera">Empresa y Tecnología</a> <a
                                    href="/relaciones-internacionales" ga-click="" data-category="Navegación"
                                    data-action="Menú - Relaciones Internacionales"
                                    data-label="002M Cabecera">Relaciones Internacionales</a> <a href="/educacion"
                                    ga-click="" data-category="Navegación" data-action="Menú - Educación"
                                    data-label="002M Cabecera">Educación</a> <a href="/idiomas-y-traduccion" ga-click=""
                                    data-category="Navegación" data-action="Menú - Idiomas y Traducción"
                                    data-label="002M Cabecera">Idiomas y Traducción</a> <a href="/turismo" ga-click=""
                                    data-category="Navegación" data-action="Menú - Turismo"
                                    data-label="002M Cabecera">Turismo</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Vive la Experiencia options -->
                <div class="megamenu-content" id="container-66a5a59e-002c-41e6-a3ce-708bbc1995ac">
                    <div class="menu-container">
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Ven a conocernos</p>
                                <a href="https://universidadeuropea.es/puertas-abiertas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Jornadas de Puertas Abiertas"
                                    data-label="002M Cabecera" title="Jornada de puertas abiertas">Jornadas de Puertas
                                    Abiertas</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Necesitas Saber</p>
                                <a href="https://universidadeuropea.es/experiencia-universitaria/informacion-para-el-alumno"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Información para el Alumno" data-label="002M Cabecera"
                                    title="Información practica para el alumno">Información para el Alumno</a>
                                <a href="https://universidadeuropea.es/experiencia-universitaria/servicios"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Servicios en la Universidad" data-label="002M Cabecera"
                                    title="Servicios al estudiante">Servicios en la Universidad</a>
                                <a href="https://universidadeuropea.es/experiencia-universitaria/carreras-profesionales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Carreras Profesionales" data-label="002M Cabecera"
                                    title="Carreras profesionales">Carreras Profesionales</a>
                                <a href="https://universidadeuropea.es/quienes-somos/emprendedores-sociales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Emprendedores Sociales" data-label="002M Cabecera"
                                    title="Jóvenes emprendedores sociales">Emprendedores Sociales</a>
                                <a href="https://universidadeuropea.es/experiencia-universitaria/vida-universitaria"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Vida Universitaria" data-label="002M Cabecera"
                                    title="Vida universitaria">Vida Universitaria</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="menu-container__group floated-right">
                                <p class="h5">Admisiones</p>
                                <a href="https://universidadeuropea.es/becas-ayudas" ga-click="ga-click"
                                    data-category="Navegación" data-action="Menú - Becas y Ayudas"
                                    data-label="002M Cabecera" title="Becas y ayudas">Becas y Ayudas</a>
                                <a href="https://universidadeuropea.es/admisiones-ayudas/convalidaciones-y-traslados-de-centro"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Convalidaciones y Traslados" data-label="002M Cabecera"
                                    title="Convalidaciones y Traslados de Centro">Convalidaciones y Traslados</a>
                                <a href="https://universidadeuropea.es/admisiones-ayudas/admision-estudiantes-internacionales"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Estudiantes Internacionales" data-label="002M Cabecera"
                                    title="Admisión para estudiantes internacionales">Estudiantes Internacionales</a>
                                <a href="https://universidadeuropea.es/admisiones-ayudas/proceso-admision"
                                    ga-click="ga-click" data-category="Navegación"
                                    data-action="Menú - Proceso de Admisión" data-label="002M Cabecera"
                                    title="Proceso de admisión">Proceso de Admisión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>