 <!-- Bottom menu -->
 <div id="bottom-menu-container">
    <div class="row bottom-menu">
       <div class="container-fluid bottom-menu__content">

          <a href="https://universidadeuropea.es/" class="logo-container">
             <img src="/images/ue-logo.svg" alt="Logo de la Universidad Europea">
          </a>

          <div class="university-container h100">
             <nav>
                <ul>
                   <li>
                      <a class="two-line-link megamenu-trigger"
                         data-menuid="container-e0116bd9-00c4-4327-b452-9fa76dd856fa" ga-click=""
                         data-category="Navegación" data-action="Menú - Conoce Universidad Europea"
                         data-label="002M Cabecera">
                         <span data-menuid="first-container">Conoce</span>Universidad Europea
                      </a>
                   </li>

                   <li>
                      <a class="two-line-link megamenu-trigger"
                         data-menuid="container-a90e974f-f435-4dd6-9f3f-71e206803927" ga-click=""
                         data-category="Navegación" data-action="Menú - Descubre Oferta Académica"
                         data-label="002M Cabecera">
                         <span data-menuid="first-container">Descubre</span>Oferta Académica
                      </a>
                   </li>

                   <li>
                      <a class="two-line-link megamenu-trigger"
                         data-menuid="container-66a5a59e-002c-41e6-a3ce-708bbc1995ac" ga-click=""
                         data-category="Navegación" data-action="Menú - Vive Experiencia Universitaria"
                         data-label="002M Cabecera">
                         <span data-menuid="first-container">Vive</span>Experiencia Universitaria
                      </a>
                   </li>
                </ul>
             </nav>
          </div>

          <div class="h100">
            <a href="https://universidadeuropea.es/contacto" class="btn btn-primary js-modal">Solicita información</a>


             <ul class="clickable-links h100">
                <li class="only-sticky">
                   <button class="header-btn search-btn" ga-click="" data-category="Búsqueda"
                      data-action="Buscar - Desplegable" aria-label="Abrir buscador" data-label="002M Cabecera">
                   </button>
                </li>

                <li class="only-sticky">
                   <a href="https://universidadeuropea.es/login" class="btn-secondary private-area-link header-btn" ga-click="" rel="nofollow"
                      data-category="Login" data-action="Área privada" data-label="002M Cabecera">
                      <i class="icon icon-user-blue"></i>
                   </a>
                </li>

                <li class="only-sticky bottom-menu__highlighted">
                   <a href="https://universidadeuropea.es/contacto" class="btn btn-primary js-modal">Solicita información</a>
                </li>
             </ul>
          </div>
       </div>
    </div>


    <include src="./partials/header-megamenu.html"></include>

 </div>