<!-- Topbar -->
<div class="row top-menu hide-when-sticky">
    <div class="container-fluid">
        <nav class="top-menu__links">
            <ul>
                <li>
                    <a href="https://universidadeuropea.es/contacto" title="Contacto">Contacto</a>
                </li>

                <li>
                    <a href="https://universidadeuropea.es/prensa" rel="nofollow" title="Sala de prensa">Prensa</a>
                </li>

                <li>
                    <a href="https://universidadeuropea.es/noticias" rel="nofollow" title="Noticias">Noticias</a>
                </li>

                <li>
                    <a href="https://universidadeuropea.es/agenda" title="Agenda">Agenda</a>
                </li>

                <li>
                    <a href="https://universidadeuropea.es/blog">Blog</a>
                </li>

                <li>
                    <a href="https://alumni.universidadeuropea.es/" rel="nofollow">Alumni</a>
                </li>
            </ul>

            <ul class="floated-right">
                <li class="floated-right floated-right--lang">
                    <div class="megamenu-mobile-submenu">
                        <button class="two-line-link megamenu-mobile-submenu__trigger">
                            <span>Español</span>
                        </button>

                        <!-- <ul class="megamenu-mobile-submenu__content lang-selector">
                          <li><a href="https://universidadeuropea.es/te-esperamos">Español</a></li>
                          <li><a href="https://universidadeuropea.es/en">Inglés</a></li>
                       </ul> -->

                    </div>
                </li>

                <li class="floated-right text-higlighted-blue">
                    <a class="top-menu__phone link" href="tel:917407272">
                        <i class="icon icon-phone"></i>
                        917407272
                    </a>
                </li>

                <li class="floated-right search-link">
                    <button id="search-btn" class="header-btn search-btn"></button>
                </li>

                <li class="floated-right private-area-link hide-when-sticky">
                    <a href="https://universidadeuropea.es/login" title="Área privada">
                        <i class="icon icon-user-blue"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>