<section class="ui-bg-02 hero">
    <div class="inner container-fluid row no-gutters">
        <article class="hero-card basic-bg-02 col-lg-5 col-md-6">
            <h1 class="title title-xl text-inverse">Bienvenido al nuevo curso académico</h1>
            <p class="text-inverse body-xl">Ha llegado el momento de encontrarte con tus compañeros y con tus
                profesores. ¿Estás preparado para vernos?</p>
        </article>
        <div class="img-container col-lg-10 col-md-6">
            <img src="/images/girl-student-hero.jpg" alt="Estudiante de vuelta en el campus" />
        </div>
    </div>
</section>