<section class="ui-bg-02 hero">
    <div class="inner container-fluid row no-gutters">
        <article class="hero-card basic-bg-02 col-lg-5 col-md-6">
            <h1 class="title title-xl text-inverse">¿Estás preparado para vernos?</h1>
            <p class="text-inverse body-xl">Nosotros sí, descubre todas las novedades que te están esperando para el curso 2020-2021</p>
        </article>
        <div class="img-container col-lg-10 col-md-6">
            <img src="/images/girl-student-hero.jpg" alt="Estudiante de vuelta en el campus" />
        </div>
    </div>
</section>