<section class="hyplex-module" id="aprendizaje-hyplex" data-tab="hyplex-learning-item">
    <div class="inner container-fluid">

        <header class="intro row no-gutters">
            <div class="img-container col-lg-10">
                <div class="bg-img"></div>
            </div>
    
            <article class="hyplex-card ui-bg-02 col-md-8">
                <img src="./images/icons/icon-hyplex.svg"/>
                <div class="content-text">
                    <h2 class="title title-m">Aprendizaje experiencial Hyplex</h2>
                    <p class="standfirst body-l">Descubre un nuevo <span class="bold">modelo académico</span>, flexible y personalizado, que integra el aula presencial y virtual</p>
                    <p class="body-m">
                        Durante estos meses hemos trabajado para reforzar nuestro modelo académico, en la Universidad Europea queremos acompañarte en un viaje de aprendizaje experiencial en el que <span class="bold">conocimiento humano y la más avanzada tecnología se fusionan, para que saques lo mejor de ti mismo</span>, alcanzando tus metas profesionales y aportando valor al mundo.
                    </p>
                </div>
            </article>
        </header>
        
        <include src="./partials/tabs.html"></include>
    </div>
</section>