<section class="additional-links ui-bg-02">
    <div class="inner container-fluid">

        <header class="header-item">
            <h2 class="title title-m">Más información</h2>
            <p class="standfirst body-l">
                Atrévete a descubrir lo que necesitas para saber quién quieres ser            
            </p>
        </header>

        <div class="content row no-gutters">
            <include src="./partials/link-item.html" locals='{
                "title": "Q & A", 
                "text": "¿Tienes dudas? Encuentra aquí todas las respuestas sobre las cuestiones que por incidencia del COVID-19 se han visto afectadas en mayor o menor medida",
                "link": "https://storage.googleapis.com/ue-cms-mvp-production-files/uploads/media/01/questions-answers-proceso-admision-uem-1.pdf"
            }'></include>

            <include src="./partials/link-item.html" locals='{
                "title": "Carta de Elena Gazapo", 
                "text": "Conoce de la mano de Elena Gazapo, Chief Academic Officer y Rectora de la Universidad Europea de Madrid, los detalles del nuevo comienzo de curso",
                "link": "https://storage.googleapis.com/ue-cms-mvp-production-files/uploads/media/06/carta-rectora-te-esperamos-v3.pdf"
            }'></include>
<!-- 
            <include src="./partials/link-item.html" locals='{
                "title": "Visítanos", 
                "text": "Ya estamos preparados para que nos conozcas, Pide cita para visitar el campus de manera segura",
                "link": "https://universidadeuropea.es/visita-campus"
            }'></include> -->
        </div>
        
    </div>
</section>