<div class="modal" id="search-engine-modal-form">
    <div class="modal__parent">
        <div class="modal__wrapper">
            <button class="modal__close js-modal-close" id="modal-close-btn" data-category="Navegación" data-action="Cerrar"
                data-label="0011M Lightbox">
            </button>
            <div class="modal__box">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 ">
                        <form id="search-form" accept-charset="UTF-8" action="/search" autocomplete="off" name="search-engine"
                            class="search-engine">
                            <div class="row">
                                <div class=" col-md-8 col-xs-12">
                                    <input id="query" name="q" type="text" autocomplete="off">
                                </div>
                                <div class="col-md-4 col-xs-12 text-right">
                                    <input class="search-btn btn btn-class btn-primary btn-small" id="query-submit" title="Buscar"
                                        type="submit" value="Buscar"  disabled="" ga-click=""
                                        data-category="Búsqueda" data-actioninit="Buscar - " data-action=""
                                        data-label="002M Cabecera"/>
                                </div>
                            </div>
                            <span class="delete" id="js-big-search-clear"></span>
                            <span class="fake-placeholder">Escribe algo...</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>