<div class="nav-tabs">
    <div class="inner container-fluid">
        <ul>
            <li class="col-4 current">
                <img src="./images/icons/icon-hyplex.svg"/>
                <a href="#modelo-academico">
                    <span>Descubre</span>
                    Modelo académico
                </a>
            </li>
            <li class="col-4">
                <img src="./images/icons/icon-covid-measures.svg"/>
                <a href="#medidas-seguridad">
                    <span>Conoce</span>
                    Medidas de seguridad
                </a>
            </li>
            <li class="col-4">
                <img src="./images/icons/icon-ue-experience.svg"/>
                <a href="#experiencia-ue">
                   <span>Vive</span>
                   Experiencia UE
                </a>
            </li>
        </ul>
    </div>
</div>