<div class="nav-tabs">
    <div class="inner container-fluid">
        <ul>
            <li class="col-4 current" id="hyflex-learning-item" data-content="aprendizaje-hyflex">
                <img src="./images/icons/icon-hyflex.svg"/>
                <a>
                    <span>Descubre</span>
                    Modelo académico
                </a>
            </li>
            <li class="col-4" id="covid-measures-item" data-content="medidas-sanitarias">
                <img src="./images/icons/icon-covid-measures.svg"/>
                <a>
                    <span>Conoce</span>
                    Medidas de seguridad
                </a>
            </li>
            <li class="col-4" id="ue-experience-item" data-content="experiencia-ue">
                <img src="./images/icons/icon-ue-experience.svg"/>
                <a>
                   <span>Vive</span>
                   Experiencia UE
                </a>
            </li>
        </ul>
    </div>
</div>