<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="container-fluid-max">
        <div class="slides">
            <include src="./partials/testimonial-item.html" locals='{
              "image": "/images/testimonials-student.jpg", 
              "quote": "La Universidad me ha dado las herramientas que necesito para adaptarme a un mundo en constante cambio", 
              "author": "Aurora Mesas"
          }'></include>
          </div>
        
          <div class="slides">
              <include src="./partials/testimonial-item.html" locals='{
                "image": "/images/testimonials-student.jpg", 
                "quote": "Lorem ipsum dolor sit amet", 
                "author": "Autor"
            }'></include>
            </div>
      
            <div class="slides">
              <include src="./partials/testimonial-item.html" locals='{
                "image": "/images/testimonials-student.jpg", 
                "quote": "Lorem ipsum dolor sit amet", 
                "author": "Autor"
            }'></include>
            </div>
      
        
        <!-- Next and previous buttons -->
        <a class="prev">
            <img src="/images/icons/icon-arrow-right-blue.svg" alt="">
        </a>
        <a class="next">
            <img src="/images/icons/icon-arrow-right-blue.svg" alt="">
        </a>
    </div>
</div>