<!-- Slideshow container -->
<div class="slideshow-container">
    <div class="inner container-fluid ">
        <div class="slides">
            <include src="./partials/testimonial-item.html" locals='{
              "image": "/images/testimonials-student.jpg", 
              "quote": "Soy consciente de que el año que viene es un año de incertidumbre no solo en cuanto a la educación, sino que vivimos en una época de constante cambio en la que la Universidad Europea ha conseguido, junto con sus trabajadores, adaptarse, aumentando la flexibilidad, repuntando una vez más en tecnología en las aulas (aulas 100% digitalizadas) y demostrando que las adversidades son oportunidades para crecer.", 
              "author": "Carolina Merino, Estudiante de Medicina"
          }'></include>
          </div>
        
          <div class="slides">
              <include src="./partials/testimonial-item.html" locals='{
                "image": "/images/testimonials-student.jpg", 
                "quote": "Lorem ipsum dolor sit amet", 
                "author": "Autor"
            }'></include>
            </div>
      
            <div class="slides">
              <include src="./partials/testimonial-item.html" locals='{
                "image": "/images/testimonials-student.jpg", 
                "quote": "Lorem ipsum dolor sit amet", 
                "author": "Autor"
            }'></include>
            </div>
      
        
        <!-- Next and previous buttons -->
        <a class="prev">
            <img src="/images/icons/icon-arrow-right-blue.svg" alt="">
        </a>
        <a class="next">
            <img src="/images/icons/icon-arrow-right-blue.svg" alt="">
        </a>
    </div>
</div>