<article class="tabs">
    <sidebar>
        <ul>
            <li>
                <img src=""/>
                <a>Prácticas presenciales</a>
            </li>
            <li>
                <img src=""/>
                <a>Aula extendida</a>
            </li>
            <li>
                <img src=""/>
                <a>Digital Block</a>
            </li>
        </ul>
    </sidebar>
    <div class="content">
        <div class="current">
            <p class="standfirst body-l">
                Las prácticas presenciales seguirán siendo el corazón del aprendizaje experiencial, con las mejores instalaciones y profesores para trabajar en entornos simulados y más de 6000 convenios de prácticas con empresas, 100% garantizadas.
            </p>
            <ul class="dotted-list">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</article>