<article class="tabs">
    <sidebar class="tab-menu col-md-4">
        <ul>
            <li class="tab-menu-item current">
                <div class="inner">
                    <img src="./images/icons/icon-practices.svg"/>
                    <a class="title-xs">Prácticas presenciales</a>
                </div>
            </li>
            <li class="tab-menu-item">
                <div class="inner">
                    <img src="./images/icons/icon-expanded.svg"/>
                    <a class="title-xs">Aula extendida</a>
                </div>
            </li>
            <li class="tab-menu-item">
                <div class="inner">
                    <img src="./images/icons/icon-cloud.svg"/>
                    <a class="title-xs">Digital Block</a>
                </div>
            </li>
        </ul>
    </sidebar>

    <div class="tab-content">
        <div class="tab-content-item current">
            <p class="standfirst body-l">
                Las prácticas presenciales seguirán siendo el corazón del aprendizaje experiencial, con las mejores instalaciones y profesores para trabajar en entornos simulados y más de 6000 convenios de prácticas con empresas, 100% garantizadas.
            </p>
            <ul class="dotted-list" >
                <li>
                    <h4 class="title title-xs">Experiencia inmersiva</h4>
                    <p class="body-m">Permite la total interacción entre los alumnos y el docente con los alumnos que asisten en remoto: pantallas con alumnado en remoto, visión del aula y contenidos, cámaras y micrófonos 360º, pizarras interactivas...</p>
                </li>
                <li>
                    <h4 class="title title-xs">Herramientas y sistemas virtuales</h4>
                    <p class="body-m">Para tutorías personalizadas y evaluación continua.</p>
                </li>
                <li>
                    <h4 class="title title-xs">Reserva de puesto asistencia presencial</h4>
                    <p class="body-m">Hemos desarrollado una herramienta para reservar el puesto y poder así mantener las medidas de seguridad en entorno físico.</p>
                </li>
            </ul>
        </div>
    </div>
</article>