<section class="testimonials">
    <div class="inner container-fluid">
        <article class="testimonials-card ui-bg-02">
            <blockquote>
                <p class="quote body-xl">La Universidad me ha dado las herramientas que necesito para adaptarme a un mundo en constante cambio</p>
                <cite class="author title-s">Aurora Mesas</cite>
            </blockquote>
        </article>
        <div class="img-container col-md-6">
            <img src="/images/testimonials-student.jpg" alt="Estudiante">
        </div>
    </div>
</section>