<section class="ue-experience-module ui-bg-02" id="experiencia-ue" data-tab="ue-experience-item">
    <div class="inner container-fluid">

        <header class="header-item row no-gutters">
            <div class="title-row col-md-4">
                <img src="./images/icons/icon-ue-experience.svg"/>
                <h2 class="title title-m">Disfruta de la experiencia ue</h2>
            </div>
            <p class="standfirst body-l col-md-8">
                No te pierdas todas las iniciativas que la Universidad pone a tu alcance para que hagas de esta etapa una experiencia única e inolvidable.
            </p>
        </header>

        <div class="content cards row">
            <include src="./partials/card.html" locals='{
                "image": "clubs-and-associations", 
                "title": "Clubes y Asociaciones", 
                "text": "Tendrás la oportunidad de integrarte en nuestros más de 45 clubes y asociaciones de los campus de Madrid, Valencia y Canarias a los que, desde la Universidad, damos soporte con medios e inversión y entre los que se encuentran los clubes de Fórmula UEM, Robótica, Debate, Europea Media, Emprendimiento, Student Club y muchos más."
            }'></include>

            <include src="./partials/card-with-button.html" locals='{
                "image": "scholarships", 
                "title": "Becas y Ayudas", 
                "text": "Ponemos a tu disposición una amplia selección de becas universitarias y ayudas al estudio para que nada impida que recibas la mejor formación. Invertimos más de 7 millones de euros en una amplia variedad de becas y ayudas: para grados, máster y postgrado, fp, doctorados y cursos.",
                "link": "https://universidadeuropea.es/becas-ayudas"
            }'></include>
        </div>
        
    </div>
</section>