<section class="video-banner full-width-banner" id="video-banner-01">
    <div class="overlay"></div>    
    <div class="container container-fluid">
        <div class="content col-md-5">
            <h3 class="title title-m">Adaptamos nuestro campus</h3>
            <p class="body-l">Ha llegado el momento de encontrarte con tus compañeros y con tus profesores . ¿Estás preparado para vernos? Todo el equipo de la Universidad Europea sí, tenemos todo listo.</p>
        </div>
        <div class="control">
            <img src="/images/play-button.svg" alt="Control para reproducir video">
        </div>
    </div>
</section>