body {
    font-family: $f_secondary;
    font-size: 16px;
    line-height: 1.2;
    color: black;
    background-color: white;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
}

// Breakpoints copied from UE original styles
@media only screen and (max-width: 78.75rem) {
    .container-fluid {
        max-width: calc(100% - 30px);
    }
}
.container-fluid--small {
    max-width: 800px;
}
@media only screen and (max-width: 800px) {
    .container-fluid--small {
        max-width: calc(100% - 30px);
    }
}


// Button reset
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.img-container {
    width: 100%;

    img {
        width: 100%;
    }
}