body {
    font-family: $f_secondary;
    font-size: 16px;
    line-height: 1.2;
    color: black;
    background-color: white;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: $container;
    width: 100%;
    margin: 0 auto;
}

// Button reset
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}