// Palette

.brand01 { color: $brand01; }
.brand02 { color: $brand02; }

.basic01 { color: $basic01; }
.basic02 { color: $basic02; }
.basic03 { color: $basic03; }

.secondary01 { color: $secondary01; }
.secondary02 { color: $secondary01; }

.ui01 { color: $ui01; }
.ui02 { color: $ui02; }

.uibg-01 { background-color: $uibg_01;}
.uibg-02 { background-color: $uibg_02;}
.uibg-03 { background-color: $uibg_03;}
.uibg-04 { background-color: $uibg_04;}


.text-high-emphasis { color: $text_high_emphasis }
.text-medium-emphasis { color: $text_medium_emphasis }
.text-low-emphasis { color: $text_low_emphasis }
.text-inverse { color: $text_inverse }

.interactive-main { background-color: $interactive_main }
.interactive-hover { background-color: $interactive_hover }
.interactive-link { background-color: $interactive_link }
.interactive-disabled { background-color: $interactive_disabled }
.interactive-inverse { background-color: $interactive_inverse }
.interactive-legacy { background-color: $interactive_legacy }

.ui-decoration { background-color: $ui_decoration;}
.ui-line { background-color: $ui_line;}

