
// Lists
ul.dotted-list {
    margin-left: $s;
     

    li {
        list-style-image: url(/images/diamond-bullet-list.svg);
        padding-left: $xs;
        margin-bottom: $xm;

        .title {
            margin-bottom: $xs * .75;
        }

        &:last-of-type {
            margin-bottom: 0
        }
    }
}