
// Title 
@mixin title() {
    font-family: $f_primary;
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 16px;
    
    @include small() {
        font-size: 22px;
    }
}

.title {
    @include title();
}

// Body 
@mixin body() {
    font-family: $f_secondary;
    font-weight: $regular;
    font-size: 16px;
    line-height: 1.4;
}

.body {
    @include body();
}